<%- include('../header.ejs')  %>

<div class="container mb-5 mt-5">
    <table class="table table-bordered">
        <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>

        <% i=1 %>
        <% d.forEach((item) =>{ %>
            <tr>
                <td> <%= i++ %> </td>
                <td> <%= item.name %> </td>
                <td> <%= item.email %> </td>
                <td> <%= item.phone %> </td>
                <td> <%= item.status %> </td>
                <td> <%= item.comment %> </td>
                <td>
                    <a href="/view/<%= item._id %>" class="btn btn-outline-info">view</a>
                    <a href="/edit/<%= item._id %>" class="btn btn-outline-success">edit</a>
                    <!-- <a href="/delete/<%= item._id %>" class="btn btn-outline-danger">delete</a> -->
                </td>
            </tr>
        <% }) %>
    </table>
</div>

<%- include('../footer.ejs')  %>